<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <%- include('../components/headers') %>
          <!-- Select2 -->
        <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

        <style>
            .wrap-options{
            display: flex;
            flex-wrap: wrap;
            }

            .wrap-options > div{
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: grey;
            color: white;
            font-weight: bolder;
            border-radius: 12px;
            user-select: none;
            padding: 4px 20px;
            transition: 0.8 ease-in;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../components/navbar') %>
            <% if(isAdmin){ %>
            <%- include('../components/sidebar') %> 
        <% } else{%>
            <%- include('../components/manager_sidebar', { permissions }) %> 
        <% } %> 
            <div class="content-wrapper">
                <div class="content">
                    <form class="container-fluid mt-5" id="createStaffForm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" id="username">
                          </div>

                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-text-height"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name" id="name">
                          </div>

                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Password" id="password">
                          </div>

                          <div class="d-flex justify-content-between align-items-start">
                            <div class="form-group flex-grow-1 mr-2">
                                <select class="custom-select" id="method">
                                  <option value="GET">Read</option>
                                  <option value="POST">Create</option>
                                  <option value="DELETE">Delete</option>
                                  <option value="PUT">Update</option>
                                </select>
                              </div>

                              <div class="form-group flex-grow-1 mr-2">
                                <select class="custom-select" id="route">
                                  <option value="users">Users</option>
                                  <option value="cars">Cars</option>
                                  <option value="maps">Maps</option>
                                  <option value="locations">Routes</option>
                                  <option value="zones">Zones</option>
                                  <option value="machines">Machines</option>
                                  <option value="imeis">Imeis</option>
                                  <option value="postals">Postals</option>
                                  <option value="scans">Scans</option>
                                  <option value="notifications">Notifications</option>
                                  <option value="settings">Settings</option>
                                  <option value="archieve">Archieves</option>
                                  <option value="reports">Reports</option>
                                  <option value="issues/notifications">Issue Notifications</option>
                                  <option value="pdfs">Pdfs</option>
                                  <option value="fields">Fields</option>
                                </select>
                              </div>

                              <div class="btn btn-info" onclick="addPermission()">Add</div>


                          </div>

                          <div class="wrap-options" id="permissions">
                                  
                          </div>

                          <div class="btn-group d-flex">
                            <button type="button" class="btn btn-info btn-sm" onclick="createManager()">Create</button>
                            <a href="/staffs" class="btn btn-secondary btn-sm">Cancel</a>
                          </div>
                    </form>
                </div>
            </div>
            <%- include('../components/footer') %>
        </div>
    </body>

    <%- include('../components/scripts') %>
    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        let permissions = []
        let method = document.getElementById('method')
        let route = document.getElementById('route')

        let permissionsHolder = document.getElementById('permissions')

        function addPermission(){
            if(permissions.some(p => p.route == route.value && p.method == method.value)){
                return;
            }

            permissions.push({
                route: route.value,
                method: method.value,
            })

            let div = document.createElement('div')
            div.textContent = `${method.value} - ${route.value}`
            permissionsHolder.appendChild(div)
        }

        async function createManager(){
            try{
                let username = document.getElementById('username')
                let name = document.getElementById('name')
                let password = document.getElementById('password')

                let respones = await fetch('/admin/api/managers',{
                    method: 'POST',
                    headers:{
                        'Content-Type': 'application/json; charset=utf-8',
                    },
                    body: JSON.stringify({
                        username: username.value,
                        name: name.value,
                        password: password.value,
                        permissions: permissions
                    })
                })

                if(respones.status === 200) {
                    Toast.fire({
                      icon: 'success',
                      title: 'Manager created successfully'
                    })

                    setTimeout(() =>{
                      location.href = '/managers'
                    },3000)
                }else{
                  Toast.fire({
                      icon: 'error',
                      title: await respones.json()
                    })
                }
            }catch(e){
              Toast.fire({
                      icon: 'error',
                      title: e.message
                    })
            }
        }
    </script>
</html>