<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <%- include('../components/headers') %>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../components/navbar') %>
            <%- include('../components/sidebar') %>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Staffs</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
            </div>

            <div class="d-flex justify-content-end align-items-center mb-2 container-fluid">
                <a href="/managers/create" class="btn btn-info btn-sm mr-1">
                    <i class="fa fa-plus"></i>
                    <span>Create</span>
                </a>
                <button data-toggle="modal" data-target="#confirmAllDeleteModal" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i>
                    <span>Delete All</span>
                </button>
            </div>

                <div class="content">
                    <div class="card">
                        <div class="card-header">
                          <h3 class="card-title d-flex justify-content-between align-items-center">
                            Managers Data
                          </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table id="example1" class="table table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Permissions</th>
                                <th>Handlinger</th>
                            </tr>
                            </thead>
                            <tbody>
                                <% if (managers.length > 0) { %>
                                    <% managers.forEach(manager => { %>
                                        <tr>
                                            <td><%= manager.username ?? '-' %></td>
                                            <td><%= manager.name ?? '-' %></td>
                                            <td><%= manager.role ?? '-' %></td>
                                            <td><%= manager.role == 'admin' ? 'All' : manager.permissions ?? '-' %></td>
                                            <td class="controls">
                                                <a href="/managers/<%= manager._id %>/update" class="btn btn-sm btn-info mr-1">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal<%= manager._id %>">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <!-- Delete Modal -->
                                        <div class="modal fade" id="deleteModal<%= manager._id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Delete confirmation</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete <%= manager.username %>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbrytt</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Slett</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="6" class="text-center">Ingen biler.</td>
                                    </tr>
                                <% } %>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                </div>
            </div>

            <%- include('../components/footer') %>
        </div>

        <%- include('../components/scripts') %>
    </body>
</html>