<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <%- include('../components/headers') %>
          <!-- Select2 -->
        <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

        <style>
            .wrap-options{
            display: flex;
            flex-wrap: wrap;
            }

            .wrap-options > div{
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: grey;
            color: white;
            font-weight: bolder;
            border-radius: 12px;
            user-select: none;
            padding: 4px 20px;
            transition: 0.8 ease-in;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../components/navbar') %>
            <%- include('../components/sidebar') %>
            <div class="content-wrapper">
                <div class="content">
                    <form class="container-fluid mt-5" id="createStaffForm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" id="username" value="<%= manager.username %>">
                          </div>

                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-text-height"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name" id="name" value="<%= manager.name %>">
                          </div>

                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Password" id="password">
                          </div>

                          <% if(manager.role != 'admin'){ %>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="form-group flex-grow-1">
                                  <select class="custom-select" id="method">
                                    <option value="GET">Read</option>
                                    <option value="POST">Create</option>
                                    <option value="DELETE">Delete</option>
                                    <option value="PUT">Update</option>
                                  </select>
                                </div>
  
                                <div class="form-group flex-grow-1">
                                  <select class="custom-select" id="route">
                                    <option value="users">Users</option>
                                    <option value="cars">Cars</option>
                                    <option value="maps">Maps</option>
                                    <option value="routes">Routes</option>
                                    <option value="zones">Zones</option>
                                    <option value="machines">Machines</option>
                                    <option value="imeis">Imeis</option>
                                  </select>
                                </div>
  
                                <div class="btn btn-info btn-sm" onclick="addPermission()">Add</div>
  
  
                            </div>
                          <% } %>

                          <div class="wrap-options" id="permissions">
                                  
                          </div>

                          <div class="btn-group d-flex">
                            <button type="button" class="btn btn-info btn-sm" onclick="updateManager()">Update</button>
                            <a href="/staffs" class="btn btn-secondary btn-sm">Cancel</a>
                          </div>
                    </form>
                </div>
            </div>
            <%- include('../components/footer') %>
        </div>
    </body>

    <%- include('../components/scripts') %>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        let permissions = []
        let method = document.getElementById('method')
        let route = document.getElementById('route')

        let permissionsHolder = document.getElementById('permissions')

        function buildPermissions(){
          permissionsHolder.innerHTML = ''
          for(let perm of permissions){

            let div = document.createElement('div')
            div.innerHTML = `<div class='mr-2'>${perm.method} - ${perm.route}</div>`
            div.className = 'd-flex justify-content-center'
            let remove = document.createElement('div')
            remove.innerHTML = '<i class="fa fa-trash"></i>'

            div.addEventListener('click', (e) =>{
              e.preventDefault()
              removePermission(perm.route,perm.method)
            })
            div.appendChild(remove)
            permissionsHolder.appendChild(div)
          }
        }

        function removePermission(route,method){

          console.log(route);
          console.log(method);
          console.log(permissions);
          permissions = permissions.filter(p => {
            let condition = !(p.route == route && p.method == method)
            console.log(condition);
            return condition
          })

          console.log(permissions);
          buildPermissions()
        }

        function addPermission(){
            if(permissions.some(p => p.route == route.value && p.method == method.value)){
                return;
            }

            permissions.push({
                route: route.value,
                method: method.value,
            })

            buildPermissions()
        }

        async function updateManager(){
            try{
                let username = document.getElementById('username')
                let name = document.getElementById('name')
                let password = document.getElementById('password')

                let respones = await fetch('/admin/api/managers/<%= manager._id %>',{
                    method: 'PUT',
                    headers:{
                        'Content-Type': 'application/json; charset=utf-8',
                    },
                    body: JSON.stringify({
                        username: username.value,
                        name: name.value,
                        password: password.value,
                        permissions: permissions
                    })
                })

                if(respones.status === 200) {
                    Toast.fire({
                      icon: 'success',
                      title: 'manager was successfully updated'
                    })
                }else{
                  Toast.fire({
                    icon: 'error',
                    title: await respones.json()
                  })
                }
            }catch(e){
              Toast.fire({
                icon: 'error',
                title: e.message
              })
            }
        }

        function initializePermissions(){
          let managerPermissions = <%- managerPermissions %>;

          for(let perm of managerPermissions){
            permissions.push({
                route: perm.route,
                method: perm.method
            })
          }

          buildPermissions()
        }

        document.addEventListener('DOMContentLoaded', initializePermissions)
    </script>
</html>